/* GLOBAL STUFF */
body{
	height: 100vh;
	margin:0%;
	background-color: black;
	font-weight:lighter;
	font-family: Helvetica !important;
	color: greenyellow !important;
}

p{
	display: block;
}

/* ALL BUTTONS */
button{
	background-color: rgb(188, 251, 61);
	padding: 20px;
	border-style: none;
	font-weight: lighter;
}

button:hover{
	background-color: aliceblue;
}

#menu-button{
	background-color: white;
	position: fixed;
    top: 15px;
    left: 10px;
}

#menu-button:hover{
	background-color: rgb(188, 251, 61);
	padding: 2px;
}

.nav-button{
	width: 250px;
	font-size: large;
}

.contact-button{
	width: 220px;
}

/* OFF-CANVAS MENU */
#Menu{
	width: 300px;
}

.offcanvas-body
{
	background-color: black;
	color:rgb(173, 255, 47);
}

#github-logo{
	width: 100px;
	padding-bottom: 50px;
}

/* CONTACT PAGE */
#contact-body{
	display: flex;
    justify-content: center;
    align-items: center;
}

/* TUTORIAL PAGE */
#tutorial-text{
	max-width: 40%;
	justify-content:center;
	min-width: 300px;
}

#tutorial-page{
	display: flex;
    justify-content: center;
	padding-top: 100px;
	padding-bottom: 50px;
}

.tutorial-img{
	padding-top: 25px;
	padding-bottom: 25px;
	width: 450px;
}
