/* /* header{
	margin:0%;
	background-color: blue;
	height: 50px;
} */

body{
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	margin:0%;
	background-color: black;
	font-weight:lighter;
	font-family: Helvetica !important;
	color: greenyellow !important;
}

/* footer{
	margin:0%
	height: 20px;
	background-color: aqua;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

#menu-button{
	position: absolute;
    top: 15px;
    left: 10px;
    z-index: 1;
	background-color: white;
	border-color: black;
}

.offcanvas-body
{
	background-color: black;
	color:rgb(173, 255, 47);
	/* width: 300px; */
}

#Menu
{
	width: 300px;
}

.page-links{
	color:rgb(173, 255, 47) !important;
}

button{
	background-color: rgb(188, 251, 61);
	padding: 20px;
	border-style: none;
}

.contact-button:hover{
	background-color: aliceblue;
	padding: 20px 30px;
}

.nav-button{
	width: 250px;
	font-size: large;
}
.nav-button:hover{
	background-color: aliceblue;
}

/* button:hover{
	background-color: aliceblue;
	padding: 20px 30px;
} */

.contact-link{
	color: black;
	text-decoration: none;
	font-weight: lighter;
	
}

#github-logo{
	width: 100px;
	padding-bottom: 50px;
}

#MenuLabel{
	font-weight: lighter;
}

.offcanvas-header{
	background-color:white;
	color: black;
}

#menu-button:hover{
	background-color: rgb(188, 251, 61);
	padding: 2px;
}

.button-text{
	font-weight: lighter;
}
